--[[
    This file is not guaranteed to run properly it is
    merely an example of what a quest file should look like
    you can use this as a base for building real quests
]]--

if SERVER then
    local quest = Quest.CreateQuest("some_quest","Random quest","This is an example quest",
        function(ply)
            -- Stuff to run on start of the quest
            Quest.ShowDialog({
                "You that have been choosen by the stars",
                "Please accept this gift...",
            },"Mysterious voice",function(ply)
                ply:SetPos(landmark.get("lobby"))
            end)
        end,
        function(ply)
            -- Stuff to run on quest end
            Quest.ShowDialog({
                "Congratulation noble knight!",
                "Please do accept this as a reward for your services"
            },"Deity",function(ply)
                ply:GiveCoins(10000)
            end)
        end)

    -- Array construct is part of fast_addons/lua/autorun/linq.lua
    local pyth = Array(player.GetAll()):Filter(function(x) return x:Nick() == "Python1320" end):First()
    quest:AddTask("Kill that guy!","Go and see a person called Python1320 and kill him!",
        function(ply)
            -- This is the check that determines if the task is completed
            return not pyth:Alive()
        end,
        function(ply)
            -- Stuff to be ran on start of the task
        end,
        function(ply)
            -- Stuff to be ran on end of the task
        end)

    quest:AddLocationTask("Heaven",landmark.get("hevn"))

    quest:AddEntity("pot","prop_physic","mode_mdl.mdl",false,Vector(10,20,30),function(ply)
        ply:Kill()
    end)
    quest:AddUseTask("Pot","pot")

    quest:AddEntity("metrocop","npc_metrocop","metrocop_mdl.mdl",false,Vector(100,100,100))
    quest:AddKillTask("Policemen","metrocop")
end

if CLIENT then
    -- You could have networking to call Quest.ShowDialog on client or Quest.Query
    -- ...
end